.my_nav_bar { position:sticky; top:0; z-index:99999 }
body{
    text-align: center;
    font-family: 'Dancing Script', cursive; 
}
#alumni{
    background-color: pink;
}
#campus{
  background-color: greenyellow;
    
}
#name{
  background-color: blue
    
}
#rooms{
  background-color:  peachpuff;
    
}
